<h1>Editing Sermon</h1>

<%= render 'form' %>

<%= link_to 'Show on Site', @sermon, :class => 'btn btn-primary', :target => "_blank" %>
<%= link_to 'Back', admin_sermons_path, :class => 'btn btn-primary' %>
