- if sermon
  .well.well-small.span7
    %h3=sermon.title

    %audio{controls: "controls", loop: "loop"}
      %source{src: sermon.audio_file_url, type: "audio/mpeg"}
    %p= link_to "Download MP3 (Right-click and click 'Save As')", sermon.audio_file_url
