%ul.breadcrumb
  %li= link_to "Home", root_path
  %li= link_to "Connect", connect_path
  %li.active Community Groups

.jumbotron
  .row
    .col-md-6
      .video-container
        %iframe{allowfullscreen: "allowfullscreen", frameborder: "0", height: "281", src: "http://www.youtube.com/embed/L6cJj-Ku_e4", width: "500"}
    .col-md-6
      %p
        %strong 
          Community groups are the life blood of Crossway. It's where we share our lives together and seek to live out our calling as God's redeemed people.
      %p
        %small
          If you are looking to get more connected at Crossway then you'll want to join a Community Group. We have groups located through the Surrey, Langley, White Rock and Abbotsford areas and we encourage you to join a group near you so that you can be better connected to each other.

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2
          Connect with a Community Group
        %p
          Community Groups usually meet twice a month during the week in order to share a meal together. Groups gather in particular regions in order to provide the proximity that fosters frequent fellowship. They are intended to be a place where we build deeper friendships with Brothers and Sisters in Christ as well as demonstrate hospitality to our non-Christian friends and neighbours. Although the atmosphere is casual and conversational, Community Groups are vital for providing the necessary time and space for listening and sharing that are necessary for all healthy relationships. Community groups function as a ‘front door’ to Crossway, where newcomers can feel welcome and begin to develop relationships with members of Crossway. 
      
        %p
          If you would like to get connected with one of our community groups, the best place to do that is on a Sunday morning
          at the Info Centre. Someone will be available there to help you get connected with a community group that is near to you
          and you can also meet some of our leaders and get any of your questions answered about Crossway.
        %p
          You can also contact the church at
          = succeed "," do
            %a{href: "mailto: info@crossway.ca"} info@crossway.ca
