%ul.breadcrumb
  %li= link_to "Home", root_path
  %li Connect
  %li.active Community Groups

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2 Community Groups

        %p
          Community Groups usually meet twice a month during the week in order to share a meal together. Groups gather in particular regions in order to provide the proximity that fosters frequent fellowship. They are intended to be a place where we build deeper friendships with Brothers and Sisters in Christ as well as demonstrate hospitality to our non-Christian friends and neighbours. Although the atmosphere is casual and conversational, Community Groups are vital for providing the necessary time and space for listening and sharing that are necessary for all healthy relationships. Community groups function as a ‘front door’ to Crossway, where newcomers can feel welcome and begin to develop relationships with members of Crossway.
      
        %hr

        %h3 Get connected with a group
        %p
          If you would like to join with one of our community groups, the best place to do that is on a Sunday morning
          at the Info Centre. Someone will be available there to help find a community group that is near to you
          and introduce you to some of our leaders.

