%ul.breadcrumb
  %li= link_to "Home", root_path
  %li Connect
  %li.active Community Groups

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2 Community Groups

        %p
          Community Groups usually meet at least twice a month in particular neighbourhoods, in order to provide the proximity that fosters frequent fellowship. They are intended to be a place where we build deeper friendships with brothers and sisters in Christ, care for and disciple one another in the way of Christ, and demonstrate hospitality to our non-Christian friends and neighbours. Although the atmosphere is casual and conversational, Community Groups are vital for providing the necessary time and space for listening and sharing that are necessary for all healthy relationships. Community groups are always open to newcomers and are a great way to get plugged into the life of the church.

        %hr

        %h3 Get connected with a group
        %p
          If you would like to join with one of our community groups, the best place to do that is on a Sunday morning
          at the Info Centre. Someone will be available there to help find a community group that is near to you
          and introduce you to some of our leaders.

