%ul.breadcrumb
  %li= link_to "Home", root_path
  %li= link_to "Connect", connect_path
  %li.active Community Groups

.jumbotron
  .row
    .col-md-6
      .video-container
        %iframe{allowfullscreen: "allowfullscreen", frameborder: "0", height: "281", src: "http://www.youtube.com/embed/L6cJj-Ku_e4", width: "500"}
    .col-md-6
      %p
        %strong 
          Community groups are the life blood of Crossway. It's where we share our lives together and seek to live out our calling as God's redeemed people.
      %p
        %small
          If you are looking to get more connected at Crossway then you'll want to join a Community Group. We have groups located through the Surrey, Langley and Abbotsford areas and we encourage you to join a group near you so that you can be better connected to each other.

.row
  .col-md-4.col-sm-12
    .content
      %h2
        Connect with a Community Group
      %p
        If you would like to get connected with one of our community groups, the best place to do that is on a Sunday morning
        
        at the Info Centre. Someone will be available there to help you get connected with a community group that is near to you
        
        and you can also meet some of our leaders and get any of your questions answered about Crossway.
      %p
        You can also contact the church at
        = succeed "," do
          %a{href: "mailto: info@crossway.ca"} info@crossway.ca
  .col-md-8.col-sm-12
    #accordion.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
              Surrey - Clayton
        #collapseOne.panel-collapse.collapse
          .panel-body
            %p We have two Community Groups meeting in Clayton.
            %ul
              %li
                Leader:
                %a{href: "mailto: claytoncg1@crossway.ca"} Jordan Mayer
              %li
                Leader:
                %a{href: "mailto: claytoncg2@crossway.ca"} Ben Evans
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
              Surrey - Cloverdale
        #collapseTwo.panel-collapse.collapse
          .panel-body
            %p We have three Community Groups meeting in the Cloverdale area.
            %ul
              %li
                Leader:
                %a{href: "mailto: cloverdalecg1@crosswy.ca"} Ben Kuwitzky
              %li
                Leader:
                %a{href: "mailto: cloverdalecg2@crossway.ca"} Ralph Browns
              %li
                Leader:
                %a{href: "mailto: cloverdalecg3@crossway.ca"} Aaron Meyerhoff
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
              Langley - Murrayville
        #collapseThree.panel-collapse.collapse
          .panel-body
            %p We have one Community Group meeting in the Murrayville area of Langley.
            %ul
              %li
                Leader:
                %a{href: "mailto: langleycg@crossway.ca"} David Smith
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFour"}
              Langley - Walnut Grove
        #collapseFour.panel-collapse.collapse
          .panel-body
            %p We have two Community Groups meeting in Walnut Grove.
            %ul
              %li
                Leader:
                %a{href: "mailto: walnutgrovecg1@crossway.ca"} Luke Koster
              %li
                Leaders:
                %a{href: "mailto: walnutgrovecg2@crossway.ca"} Ken Brayton & Chris Maddocks
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFive"}
              White Rock
        #collapseFive.panel-collapse.collapse
          .panel-body
            %p We have one Community Group meeting in White Rock.
            %ul
              %li
                Leader:
                %a{href: "mailto: whiterockcg@crossway.ca"} Cal Bergen
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFive"}
              Abbotsford
        #collapseFive.panel-collapse.collapse
          .panel-body
            %p We have one Community Group meeting in Abbotsford.
            %ul
              %li
                Leader:
                %a{href: "mailto: abbotsfordcg@crossway.ca"} Tim Thornton

.row
  .col-md-12{style: "height: 40px;"}  