<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Connect", connect_path %> <span class="divider">/</span></li>
  <li class="active">Community Groups</li>
</ul>

<div class="row">
  <div class="span12 section-header">

      <div class="row">
        <div class="span7">
          <iframe width="540" height="304" src="http://www.youtube.com/embed/L6cJj-Ku_e4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="span4">
          <h4 class="section-header-text">Community groups are the life blood of Crossway. It's where we share our
            lives together and seek to live out our calling as God's redeemed people.</h4>
          <br />
          <p class="section-header-text">
            If you are looking to get more connected at Crossway then you'll want to join a Community Group.
            We have groups located through the Surrey, Langley and Abbotsford areas and we encourage
            you to join a group near you so that you can be better connected to each other.
          </p>
        </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="span12" style="text-align: center;">
  
  </div>
</div>

<div class="row">
  <div class="span12" style="height: 40px;"> </div>
</div>
        
<div class="row">
  <div class="span12">
    <div class="content">

      <h2>Connect with a Community Group Leader</h3>

      <p>
        If you would like to get connected with one of our community groups, please contact the church at
        <a href="mailto: info@crossway.ca">info@crossway.ca</a>, or click on one of the leader's names
        below to send an email to them directly. 
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="span12">
    <h3>Surrey Groups</h3>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="well well-small">
      <h4>Clayton</h4>
      <p>We have two Community Groups meeting in Clayton.</p>
      <ul>
        <li>Leader: <a href="mailto: claytoncg1@crossway.ca">Jordan Mayer</a></li>
        <li>Leader: <a href="mailto: claytoncg2@crossway.ca">Ben Evans</a></li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="well well-small">
      <h4>Cloverdale</h4>
      <p>We have three Community Groups meeting in the Cloverdale area.</p>
      <ul>
        <li>Leader: <a href="mailto: cloverdalecg1@crosswy.ca">Ben Kuwitzky</a></li>
        <li>Leader: <a href="mailto: cloverdalecg2@crossway.ca">Ralph Browns</a></li>
        <li>Leader: <a href="mailto: cloverdalecg3@crossway.ca">Aaron Meyerhoff</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>Langley Groups</h3>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="well well-small">
      <h4>Murrayville</h4>
      <p>We have one Community Group meeting in the Murrayville area of Langley.</p>
      <ul>
        <li>Leader: <a href="mailto: langleycg@crossway.ca">Mike Thomas</a></li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="well well-small">
      <h4>Walnut Grove</h4>
      <p>We have two Community Groups meeting in Walnut Grove.</p>
      <ul>
        <li>Leader: <a href="mailto: walnutgrovecg1@crossway.ca">Luke Koster</a></li>
        <li>Leaders: <a href="mailto: walnutgrovecg2@crossway.ca">Ken Brayton & Chris Maddocks</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>Other Groups</h3>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="well well-small">
      <h4>White Rock</h4>
      <p>We have one Community Group meeting in White Rock.</p>
      <ul>
        <li>Leader: <a href="mailto: whiterockcg@crossway.ca">Cal Bergen</a></li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="well well-small">
      <h4>Abbotsford</h4>
      <p>We have one Community Group meeting in Abbotsford.</p>
      <ul>
        <li>Leader: <a href="mailto: abbotsfordcg@crossway.ca">Tim Thornton</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
