<ul class="breadcrumb">
  <li><%= link_to "HOME", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "CONNECT", connect_path %> <span class="divider">/</span></li>
  <li class="active">COMMUNITY GROUPS</li>
</ul>

<div class="row">

  <div class="span12" style="text-align: center;">
  <iframe width="853" height="480" src="http://www.youtube.com/embed/L6cJj-Ku_e4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="span12" style="height: 40px;"> </div>
</div>
        
<div class="row">
  <div class="span12">
    <div class="content">

      <h2>Community Group Locations</h3>

      <p>
        If you would like to get connected with one of our community groups, please contact the church at
        <a href="mailto: info@crossway.ca">info@crossway.ca</a>, or click on one of the leader's names
        below to send an email to them directly. 
    </p>
    <p>
        We currently have community groups
        meeting in the following areas:
      </p>

      <ul>
        <li><a href="#clayton">Clayton</a></li>
        <li><a href="#cloverdale">Cloverdale</a></li>
        <li><a href="#langley">Langley</a></li>
        <li><a href="#walnutgrove">Walnut Grove</a></li>
        <li><a href="#abbotsford">Abbotsford</a></li>
        <li><a href="#whiterock">White Rock</a></li>
      </ul>

      <hr>

      <a name="clayton"></a>
      <h3>Clayton</h3>
      <p>We have two Community Groups meeting in Clayton.</p>
      <ul>
        <li>Leader: <a href="mailto: claytoncg1@crossway.ca">Jordan Mayer</a></li>
        <li>Leader: <a href="mailto: claytoncg2@crossway.ca">Ben Evans</a></li>
      </ul>

<iframe width="725" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=clayton,+surrey,+bc&aq=&sll=37.0625,-95.677068&sspn=57.510723,132.011719&ie=UTF8&hq=&hnear=Clayton,+Surrey,+Greater+Vancouver+Regional+District,+British+Columbia,+Canada&t=m&ll=49.125848,-122.702608&spn=0.019659,0.062227&z=14&iwloc=A&output=embed"></iframe>

      <hr>

      <a name="cloverdale"></a>
      <h3>Cloverdale</h3>

      <p>We have three Community Groups meeting in the Cloverdale area.</p>
      <ul>
        <li>Leader: <a href="mailto: cloverdalecg1@crosswy.ca">Ben Kuwitzky</a></li>
        <li>Leader: <a href="mailto: cloverdalecg2@crossway.ca">Ralph Browns</a></li>
        <li>Leader: <a href="mailto: cloverdalecg3@crossway.ca">Aaron Meyerhoff</a></li>
      </ul>

      <iframe width="725" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=cloverdale,+surrey,+bc&aq=&sll=49.125848,-122.702651&sspn=0.023534,0.064459&ie=UTF8&hq=&hnear=Cloverdale,+Surrey,+Greater+Vancouver+Regional+District,+British+Columbia,+Canada&t=m&ll=49.109501,-122.73385&spn=0.019665,0.062227&z=14&iwloc=A&output=embed"></iframe>

      <hr>

      <a name="langley"></a>
      <h3>Langley</h3>

      <p>We have one Community Group meeting in Langley/Murrayville.</p>
      <ul>
        <li>Leader: <a href="mailto: langleycg@crossway.ca">Mike Thomas</a></li>
      </ul>

      <iframe width="725" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=langley,+bc&aq=&sll=49.109491,-122.73383&sspn=0.023542,0.064459&ie=UTF8&hq=&hnear=Langley,+Greater+Vancouver+Regional+District,+British+Columbia,+Canada&t=m&ll=49.074316,-122.559357&spn=0.157433,0.497818&z=11&iwloc=A&output=embed"></iframe>

      <hr>

      <a name="walnutgrove"></a>
      <h3>Walnut Grove</h3>
              
      <p>We have two Community Groups meeting in Walnut Grove.</p>
      <ul>
        <li>Leader: <a href="mailto: walnutgrovecg1@crossway.ca">Luke Koster</a></li>
        <li>Leaders: <a href="mailto: walnutgrovecg2@crossway.ca">Ken Brayton & Chris Maddocks</a></li>
      </ul>

      <iframe width="725" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Walnut+Grove,+Langley,+BC,+Canada&aq=&sll=49.125717,-122.613585&sspn=0.188274,0.515671&ie=UTF8&hq=&hnear=Walnut+Grove,+Greater+Vancouver+Regional+District,+British+Columbia,+Canada&t=m&ll=49.175027,-122.623987&spn=0.019639,0.062227&z=14&iwloc=A&output=embed"></iframe>

      <hr>

      <a name="abbotsford"></a>
      <h3>Abbotsford</h3>

      <p>We have one Community Group meeting in Abbotsford.</p>
      <ul>
        <li>Leader: <a href="mailto: abbotsfordcg@crossway.ca">Tim Thornton</a></li>
      </ul>

      <iframe width="725" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Abbotsford,+BC,+Canada&aq=&sll=49.0568,-122.285045&sspn=0.377072,1.031342&ie=UTF8&hq=&hnear=Abbotsford,+Fraser+Valley+Regional+District,+British+Columbia,+Canada&t=m&ll=49.05677,-122.285385&spn=0.157488,0.497818&z=11&iwloc=A&output=embed"></iframe>

      <hr>

      <a name="whiterock"></a>
      <h3>White Rock</h3>
              
      <p>We have one Community Group meeting in White Rock.</p>
      <ul>
        <li>Leader: <a href="mailto: whiterockcg@crossway.ca">Cal Bergen</a></li>
      </ul>
      <iframe width="725" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=White+Rock,+BC,+Canada&aq=&sll=49.0568,-122.285045&sspn=0.377072,1.031342&ie=UTF8&hq=&hnear=White+Rock,+Greater+Vancouver+Regional+District,+British+Columbia,+Canada&t=m&ll=49.022054,-122.803631&spn=0.0197,0.062227&z=14&iwloc=A&output=embed"></iframe>  
 
    </div>
  </div>
</div>

</div>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
