      <h3>Church Office</h3>

      <p><strong>Office Hours:</strong> Monday - Thursday from 9:00am - 5:00pm</p>
      <p><strong>Phone Number:</strong> 604-510-6002</p>
      <p><strong>Address:</strong> <a href="https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=%23201-20334,+56th+Ave.,+Langley&aq=&sll=49.119108,-122.681322&sspn=0.022863,0.045319&ie=UTF8&hq=&hnear=20334+56+Ave,+Langley,+Greater+Vancouver+Regional+District,+British+Columbia+V3A,+Canada&t=m&z=14&ll=49.104508,-122.658664" style="color:#0000FF;text-align:left" target="_blank">#201-20334 56th Ave., Langley, BC.</a></p>

      <iframe width="750" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=%23201-20334,+56th+Ave.,+Langley&aq=&sll=49.119108,-122.681322&sspn=0.022863,0.045319&ie=UTF8&hq=&hnear=20334+56+Ave,+Langley,+Greater+Vancouver+Regional+District,+British+Columbia+V3A,+Canada&t=m&z=14&ll=49.104508,-122.658664&output=embed"></iframe>