%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li About
  %li.active Covenant Membership

.jumbotron
  .row
    .col-md-4
      = image_tag("large-logo.png", :class => 'media-object img-responsive')
    .col-md-8
      %p
        %strong Membership at Crossway
      %p
        For those that are interested in membership at Crossway, we run a new members' class each quarter.
      %p
        %small
          We look forward to getting to know you and your walk with the Lord, and to share more with you about Crossway's distinctives. Sign up at the Info Centre on Sunday mornings.

