%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "About", about_path
  %li.active Covenant Membership

%h2 Covenant Membership

.jumbotron
  .row
    .col-md-4
      = image_tag("large-logo.png", :class => 'media-object img-responsive')
    .col-md-8
      %p
        %strong Covenant Membership at Crossway
      %p
        %small
          ‘What does it mean to belong at Crossway Church?’ This is the question that We Are Crossway seeks to answer. We Are Crossway is our Covenant Membership manual and it is designed to help you understand and participate in the process of becoming a covenant member of Crossway Church. 
      %p
        %small
          To get started, please download the We Are Crossway manual
      = link_to "Download We Are Crossway", "#", :class => "btn btn-primary btn-large"

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12


        %h3 We Are Crossway involves five important components: 

        %p 1.	We Are Crossway Teaching – Four messages that unpack the meaning of covenant membership at Crossway Church.
        
        %p 2.	We Are Crossway Q&A – An optional question and answer period with the Crossway elders.
        
        %p 3.	We Are Crossway Elder Interview – Each individual or family has an interview with an elder. 
        
        %p 4.	We Are Crossway Covenant Agreement – A solemn agreement to be signed annually.
        
        %p 5.	We Are Crossway Member Handbook – A collection of documents helpful to covenant members.
        