%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Connect", connect_path
  %li.active Creative Ministries
.row
  .col-md-4
    = image_tag("connect/creative-ministries.png")
  .col-md-8
    .alert.alert-block
      %h2 Creative Ministries
      %p
        %em
          "And all the craftsmen among the workmen made the tabernacle with ten curtains. They were made of fine twined linen and blue and purple and scarlet yarns, with cherubim skillfully worked." - Exodus 36:8
      %p
        At Crossway we believe the creative arts should be all about pointing people to the Trinue God, who is
        the source of all creativity.
.row
  .col-md-12
    %h3 Creative Ministries
.row
  .col-md-4
    .well.well-small
      %h4 Music
  .col-md-4
    .well.well-small
      %h4 Choir
  .col-md-4
    .well.well-small
      %h4 Sound
.row
  .col-md-4
    .well.well-small
      %h4 Graphics/Projection
  .col-md-4
    .well.well-small
      %h4 Set Design
  .col-md-4
    .well.well-small
      %h4 Video
.row
  .col-md-12
    %h4 Get Involved
    %p
      To find out how you can involved in any of these creative ministries, please #{link_to "get in touch with us.", contact_path}
.row
  .col-md-12{style: "height: 40px;"}  