<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Connect", connect_path %> <span class="divider">/</span></li>
  <li class="active">Creative Ministries</li>
</ul>


<div class="row one-column">

  <div class="span4">
    <%= image_tag("connect/creative-ministries.png") %>
  </div>
  
  <div class="span8">

    <div class="alert alert-block">
      <h2>Creative Ministries</h2>
      
      <p>We place a high value on families. We believe that strong marriages and families are 
        the foundation of strong churches and communities.</p>
    </div>
  </div>
</div>


<div class="row">
  <div class="span12">
    <h3>Creative Ministries</h3>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="well well-small">
      <h4>Music</h4>
    </div>
  </div>
  <div class="span4">
    <div class="well well-small">
      <h4>Choir</h4>
    </div>
  </div>
  <div class="span4">
    <div class="well well-small">
      <h4>Sound</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="well well-small">
      <h4>Graphics/Projection</h4>
    </div>
  </div>
  <div class="span4">
    <div class="well well-small">
      <h4>Set Design</h4>
    </div>
  </div>
  <div class="span4">
    <div class="well well-small">
      <h4>Video</h4>
    </div>
  </div>
</div>


<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
