%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li Connect
  %li.active CrosswayKids


.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2 CrosswayKids

        %p 

        %h3 Check-In

        %p Every Sunday begins with parents electronically signing in their kids at our Check-In Station.

        %p You will be assigned a number, this will be required at pick up or to page you if you’re needed during the service.

        %h3 Curriculum

        %p For 4-11 we use <a href="http://www.gospelproject.com/" target="_blank">"The Gospel Project”</a> curriculum - a Christ-centered Bible study resource that presents the Biblical story in an engaging way; these stories come to life through video, music, activities, and more.

        %p For 2-3 we use the “Show Me Jesus” curriculum – a tool to help toddlers learn the vocabulary of faith. The curriculum introduces the basic concept of what Christ has done for his people—in a way that they can grasp.

        %h3 Security

        %p We are committed to running a secure children’s ministry. We achieve this by checking kids in and out with tags; ensuring there is no one-on-one teacher/helper exposure outside the classroom; and ensuring that no teacher/helper will ever be alone with kids. Any guest in a room will be identified with a special tag.

        %h3 Ages

        %p CrosswayKids is divided into Nursery, 2-3, 4-5 and 6-11.

