%ul.breadcrumb
  %li= link_to "Home", root_path
  %li= link_to "Connect", connect_path
  %li.active Discipleship Groups

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2
          Why Discipleship Groups?
        %p
          Discipleship Groups are designed to help a small group (3-4) of people of the same gender grow in their faithfulness to following Jesus Christ. By focusing on the application of biblical truth in the context of accountable relationships, these groups encourage each of us to be active and involved in the mission to make disciples. As we take on the role of discipling one another, we get to participate in God’s supernatural work of conforming us to the image of Christ.

        %p
          There are currently three available materials for discipleship groups, available at the info center or on the City:

        %h4 1. ‘Multiply’ - Francis Chan.  

        %p
          This discipleship curriculum contains a book with various discipleship oriented content and activities. It is accompanied by video and by other resources online to help make this an effective discipling tool for us. 

        %h4 2. ‘One to One Bible Reading’ – David Helm.

        %p
          Perhaps your group would like to grow in their ability to read, study, and apply Scripture together in community, an important element of discipleship together. David Helm’s book will greatly assist in this area.

        %h4 3. Crossway Sermon Questions

        %p
          Sermon questions will be posted weekly following the Sunday sermon. These questions will be oriented around our mission statement, helping each one of us connect the sermon content to our mission together. 

        %h4 Get Connected

        %p
          If you would like to get connected with one of our community groups, the best place to do that is on a Sunday morning
          at the Info Centre. Someone will be available there to help you get connected with a community group that is near to you
          and you can also meet some of our leaders and get any of your questions answered about Crossway.
        %p
          You can also contact the church at
          = succeed "," do
            %a{href: "mailto: info@crossway.ca"} info@crossway.ca
