%ul.breadcrumb
  %li= link_to "Home", root_path
  %li Connect
  %li.active Discipleship Groups

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2 Discipleship Groups
        
        %p
          Discipleship Groups are designed to help a small group (3 – 4) of people of the same gender grow in their faithfulness to following Jesus Christ. By focusing on the application of Biblical truth in the context of accountable relationships, these groups encourage each of us to be active and involved in the mission to make disciples. As we take on the role of discipling one another, we get to participate in God’s supernatural work of conforming us to the image of Christ.
          

        %h3
          Materials

        %p There are currently two available materials for discipleship groups, available at the info center:

        %ol
          %li 
            %h4 MULTIPLY – Francis Chan 

            %p This discipleship curriculum contains a book with various discipleship oriented content and activities. It is accompanied by video and by other resources online to help make this an effective discipling tool for us. 
          %li
            %h4 ONE TO ONE BIBLE READING – David Helm

            %p Perhaps your group would like to grow in their ability to read, study, and apply Scripture together in community, an important element of discipleship together? David Helm’s book will greatly assist in this area.
