<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Connect", connect_path %> <span class="divider">/</span></li>
  <li class="active">Family Ministries</li>
</ul>


<div class="row one-column">

  <div class="span4">
    <%= image_tag("connect/family-ministries.png") %>
  </div>
  
  <div class="span8">

    <div class="alert alert-block">
      <h2>Family Ministries</h2>
      
      <p>We place a high value on families. We believe that strong marriages and families are 
        the foundation of strong churches and communities.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Childrens Ministry</h3>
    <div class="well well-small">
      <p>Our Children's Ministry runs concurently with our worship service and is available for children from newborn to age eleven.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Crossculture (Youth) & Sojourn (Young Adults)</h3>
    <div class="well well-small">
      
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Mens & Womens Ministry</h3>
    <div class="well well-small">
      
    </div>
  </div>
</div>


<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
