<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">Give</li>
</ul>

<div class="row one-column">

  <div class="span12">

    <div class="content">
      <p>
        We have a tremendous opportunity to proclaim the gospel by giving generously. Giving invigorates our devotion to Christ and frees us from the tyranny of consumerism. It provides an outlet for compassion and allows us to proclaim His sufficiency and provision. As people of faith, we give faithfully.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="well">
      <h3>Debit / Preauthorized Payment</h3>
      <p>Please visit the Info Centre on a Sunday to give using our debit machine. You can also sign up there
        for a preauthorized payment plan so that your monthly giving can be debited automatically on a
        monthly basis.</p>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <h3>Cash & Cheques</h3>
      <p>Please make cheques payable to Crossway Church. These cheques may be dropped in the offering basket
      during our worship service or you may bring them in person to the church office during our office hours.</p>
    </div>
  </div>
</div>