%ul.breadcrumb
  %li
    = link_to "Home", root_path
    %span.divider /
  %li.active Give
.row
  .col-md-12
    .content
      %p
        We have a tremendous opportunity to proclaim the gospel by giving generously. Giving invigorates our devotion to Christ and frees us from the tyranny of consumerism. It provides an outlet for compassion and allows us to proclaim His sufficiency and provision. As people of faith, we give faithfully.
.row
  .col-md-4
    .well
      %h3 Online Giving
      = form_tag charges_path do
        %article
          %label.amount
            %span Please specify the amount you would like to donate to the work of ministry at Crossway Church:
            .input-prepend.input-append
              %span.add-on $
              %input#charge_amount.col-md-2{name: "charge_amount", type: "text"}
          %button#donateButton.btn.btn-primary Donate
          :javascript
            $('#donateButton').click(function(){
              var token = function(res){
                var $input = $('hidden name=stripeToken />').val(res.id);
                $('form').append($input).submit();
              };

              StripeCheckout.open({
                key:         ' Rails.configuration.stripe[:publishable_key] ',
                address:     true,
                amount:      $('#charge_amount').val()*100,
                name:        'Crossway Church',
                description: 'Online Donation',
                panelLabel:  'Checkout',
                token:       token
              });

              return false;
            });
    .col-md-4
      .well
        %h3 Debit / Preauthorized Payment
        %p
          Please visit the Info Centre on a Sunday to give using our debit machine. You can also sign up there
          for a preauthorized payment plan so that your monthly giving can be debited automatically on a
          monthly basis.
    .col-md-4
      .well
        %h3 Cash  Cheques
        %p
          Please make cheques payable to Crossway Church. These cheques may be dropped in the offering basket
          during our worship service or you may bring them in person to the church office during our office hours.