%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li.active Give

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2 Give

        %h4 Once someone decides to call Crossway their church home there are three ways they are able to respond to the gospel by giving generously and faithfully. 

  .row
    .col-md-4.col-sm-6
      .service-wrapper{style: "height: 280px;"}
        %h3 Online Giving
        %p To give online, please use our secure payment form below.
        = form_tag charges_path do
          .form-group
            .input-group
              .input-group-addon $
              %input#charge_amount.form-control{name: "charge_amount", type: "text"}

          %button#donateButton.btn.btn-primary Donate

          %script{src: "https://checkout.stripe.com/checkout.js"}

          :javascript
            $('#donateButton').click(function(){
              var token = function(res){
                var $input = $('hidden name=stripeToken />').val(res.id);
                $('form').append($input).submit();
              };

              StripeCheckout.open({
                key:         '#{Rails.configuration.stripe[:publishable_key]}',
                address:     true,
                amount:      $('#charge_amount').val()*100,
                name:        'Crossway Church',
                description: 'Online Donation',
                panelLabel:  'Checkout',
                token:       token
              });

              return false;
            });

    .col-md-4.col-sm-6
      .service-wrapper{style: "height: 280px;"}
        %h3 Debit / Preauthorized Payment
        %p
          Please visit the Info Centre on a Sunday to give using our debit machine. You can also sign up there for a pre-authorized monthly payment plan.
    .col-md-4.col-sm-6
      .service-wrapper{style: "height: 280px;"}
        %h3 Cash / Cheques
        %p
          Cash & cheques can be deposited in the baskets during our Sunday gathering. Please use the envelopes provided at the back and at the visitor information center. Please make cheques payable to ‘Crossway Church’. 

