%ul.breadcrumb
  %li
    = link_to "Home", root_path
    %span.divider /
  %li
    = link_to "Connect", connect_path
    %span.divider /
  %li.active Ministries
.row
  .col-md-12
    .content
      %p
        We are currently working on expanding the content for this page, but in the meantime you
        can see a full listing of the ministries at Crossway Church. Please send an
        email to
        %a{href: "mailto:info@crossway.ca"} info@crossway.ca
        if you are interested
        in serving in any of these ministries.
.row
  .col-md-12
    %h3 Family Ministries
    %p
      We place a high value on families. We believe that strong marriages and families are the foundation of strong churches and communities.
.row
  .col-md-4
    .well.well-small
      %h4 Childrens Ministry
      %p Our Children's Ministry runs concurently with our worship service and is available for children from newborn to age eleven.
  .col-md-4
    .well.well-small
      %h4 Crossculture (Youth)  Sojourn (Young Adults)
  .col-md-4
    .well.well-small
      %h4 Mens  Womens Ministry
.row
  .col-md-12
    %h3 Outreach Ministries
    %p
      At Crossway everything we do centers around loving Jesus, loving His people and then living to make Him known. Our outreach
      ministries exist to fulfill the third part of our vision which is to live to make the Trinue God known in our families,
      neighbourhoods, communities and ultimately to the ends of the earth.
.row
  .col-md-4
    .well.well-small
      %h4 Global Missions
  .col-md-4
    .well.well-small
      %h4 Local Missions
  .col-md-4
    .well.well-small
      %h4 Mercy
.row
  .col-md-12
    %h3 Service Ministries
    %p
      What goes on during a public worship service is dependent upon the contribution of many volunteers who are working behind
      the scenes. Our Service ministries may be less visible but they are some of the most vital components of our church.
      We are blessed to have many volunteers who serve in these various ministries week after week.
.row
  .col-md-4
    .well.well-small
      %h4 Usher/Greeting
  .col-md-4
    .well.well-small
      %h4 Info Centre
  .col-md-4
    .well.well-small
      %h4 Counters
.row
  .col-md-4
    .well.well-small
      %h4 Setup/Take Down
  .col-md-4
    .well.well-small
      %h4 Security
  .col-md-4
    .well.well-small
      %h4 Parking
.row
  .span12
    %h3 Creative Ministries
.row
  .col-md-4
    .well.well-small
      %h4 Music
  .col-md-4
    .well.well-small
      %h4 Choir
  .col-md-4
    .well.well-small
      %h4 Sound
.row
  .col-md-4
    .well.well-small
      %h4 Graphics/Projection
  .col-md-4
    .well.well-small
      %h4 Set Design
  .col-md-4
    .well.well-small
      %h4 Video
.row
  .col-md-12{style: "height: 40px;"}  


