<ul class="breadcrumb">
  <li><%= link_to "HOME", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "CONNECT", connect_path %> <span class="divider">/</span></li>
  <li class="active">MINISTRIES</li>
</ul>


<div class="row one-column">

  <div class="span12">

    <div class="content">
      <p>We are currently working on expanding the content for this page, but in the meantime you
      can see a full listing of the ministries at Crossway Community Church. Please send an
      email to <a href="mailto:info@crossway.ca">info@crossway.ca</a> if you are interested
      in serving in any of these ministries.
      </p>

      <h3>Ministry List</h3>
      <ul>
        <li><strong>Usher/Greeter</strong> - Brian and Miranda F.</li>
        <li><strong>Info Center</strong> - Hannah Browns</li>
        <li><strong>Counters</strong> - Cathy Eytcheson</li>
        <li><strong>Setup/Take Down</strong> - Mark G.</li>
        <li><strong>Childrens Ministry</strong> - Marty Jones</li>
        <li><strong>Childrens Sign-in</strong> - Erika Evans</li>
        <li><strong>Sojourn</strong> - Jeremy Shea & Andrew Lee</li>
        <li><strong>Crossculture</strong> - Sean Evans & Andrew Driscoll</li>
        <li><strong>Music</strong> - Josh Sczebel</li>
        <li><strong>Choir</strong> – Miranda F.</li>
        <li><strong>Sound</strong> - Jeremy Browns</li>
        <li><strong>Graphics/Projection</strong> - Tina Sczebel</li>
        <li><strong>Set Design</strong></li>
        <li><strong>Video</strong> - Ben Kuwitzky</li>
        <li><strong>Womens</strong> - Sandi Meyerhoff</li>
        <li><strong>Mens</strong> - Tim Thornton</li>
        <li><strong>The City</strong> - Chris Maddocks</li>
        <li><strong>Global Missions</strong> - Jess Leslie</li>
        <li><strong>Local Missions</strong> - Dan Evans</li>
        <li><strong>Mercy</strong> - Stephen Smith</li>
        <li><strong>Parking</strong> - Alex Kim</li>
        <li><strong>Security</strong> - Mike McRae</li>
      </ul>
    </div>
  </div>
</div>

</div>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
