%ul.breadcrumb
  %li
    = link_to "Home", root_path
    %span.divider /
  %li
    = link_to "Connect", connect_path
    %span.divider /
  %li.active Outreach Ministries
.row.one-column
  .col-md-4
    = image_tag("connect/outreach-ministries.png")
  .col-md-8
    .alert.alert-block
      %h2 Local and Global Missions Ministries
      %h3 Our Vision Statement:
      %p{style: "margin-left: 20px;"}
        %em
          Crossway on mission exists to glorify God by making disciples of all peoples
          through proclaiming and living out the gospel of Jesus Christ.
.row
  .col-md-12
    %h3 Mission Distinctives:
    %ol
      %li
        %p
          %strong Crossway on mission exists to glorify God:
        %ul
          %li
            %p Viewing mission as a central act of worship
          %li
            %p Participating in the good works which God has prepared in advance for us (Eph 2:10)
          %li
            %p Equipping and mobilizing all members of Crossway
      %li
        %p
          %strong Making disciples of all peoples:
        %ul
          %li
            %p Reconciling and growing people into the image of Christ (2 Cor. 5:17- 21)
          %li
            %p Seeing disciples make disciples of all ages, all peoples, all races (Matt 28:19)
      %li
        %p
          %strong Through proclaiming:
        %ul
          %li
            %p Declaring Christ as seen in scripture to all peoples in a way they best understand
          %li
            %p Relying on the power of the Holy Spirit for the proclamation of the Gospel and  works of the miraculous (1 Cor 2:2-5)
      %li
        %p
          %strong Through living out:
        %ul
          %li
            %p Prayerfully relying on God (1 Thess 5:17, Eph 6:18)
          %li
            %p Joyfully giving of our hearts, lives, and resources (James 2:14-15)
          %li
            %p Growing in acts of justice and mercy (Micah 6:8)
          %li
            %p Emulating Christ's example of servant-like humility in any given context (Phil 2: 3-8)
      %li
        %p
          %strong The Gospel of Jesus Christ:
        %ul
          %li
            %p "For God so loved the world that He gave His only Son, that whoever believes in Him should not perish but will have everlasting life." John 3:16
          %li
            %p Other references:
            %p Romans 3:21-26, 1 Corinthians 15:3-6, John 3:16, Ephesians 2:1- 10
            %p Romans 5:8,2 Corinthians 5:21, Colossians 3:3, Galatians 4:4-7
.row
  .col-md-12{style: "height: 40px;"}  