%ul.breadcrumb
  %li
    = link_to "Home", root_path
    %span.divider /
  %li
    = link_to "Identity", identity_path
    %span.divider /
  %li.active Partnerships
%h2 Partnerships
.row
  .col-md-12
.row
  .col-md-12{style: "height: 40px;"}  