<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Identity", identity_path %> <span class="divider">/</span></li>
  <li class="active">Partnerships</li>
</ul>

<h2>Partnerships</h2>

<div class="row">
  <div class="span12">

  </div>
</div>

</div>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
