<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Identity", identity_path %> <span class="divider">/</span></li>
  <li class="active">Staff</li>
</ul>

<h2>Staff</h2>

<div class="row">
  <div class="span3">
    <ul class="thumbnails">
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/200x160" alt="">
          <h4>Pat Sczebel</h4>
          <p>Elder of Creative Arts and Student Ministries</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="span9">
    <h4>Describe your role and how it contributes to fulfilling the vision of Crossway?</h4>
    <p>I have the privilege of overseeing the arts at Crossway. Serving, caring for and loving those that are gifted in music, graphics, video, set design etc... Each week I plan the Sunday liturgy where we are reminded of Christ's finished work on our behalf from the beginning of the service with a call to worship and all the way through until the benediction. I get to hand pick individuals to play a role in the services, schedule bands to play and work closely with those who video and do graphics so that everything we do syncs with our present preaching series.</p>

    <h4>What are you most passionate about in your role at Crossway?</h4>
    <p>I love to watch folks stepping up in their God-given roles and doing what He's called them to do. I love that our folks are owning, in a humble way what God has called them to be apart of at Crossway</p>

    <h4>Tell us a little about your family.</h4>
    <p>I am married to the most beautiful woman in the world, the woman I married almost 27 years ago. She is my best friend, she is my rock. I have 5 children, 3 boys and 2 girls. Josh is 25 and married to Kristina, Joel is 23 and married to Becky, Alysha is 21, Sam is 11 and Kayla is 8. I also my first grand baby on the way.</p>

    <h4>Who or what has most influenced the way you lead as an elder?</h4>
    <p>There are many great people that have made a real impact on my life. My Mom and my Grandmother at a young age, over the last 15 or so John Piper and Bob Kauflin have probably influenced me most. I love Christ more and want to live to exalt him because of their teaching and example</p>

    <h4>How would you describe Crossway to a new-comer?</h4>
    <p>A vibrant church where you can be who God's called you to be. A place where you can use your gifts for his glory</p>

    <h4>What's one thing the members of Crossway may not know about you?</h4>
    <p>I think Crossway folks know most about me... maybe that i'm not a big "Lord of the rings" fan</p>
  </div>
</div>

</div>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>


