<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Identity", identity_path %> <span class="divider">/</span></li>
  <li class="active">Staff</li>
</ul>

<h2>Staff</h2>

<div class="row">
  <div class="span3">

    <ul class="thumbnails">
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/200x160" alt="">
          <h4>David Smith</h4>
          <p>Elder of Preaching and Team Strategy</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="span3">
    <ul class="thumbnails">
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/200x160" alt="">
          <h4>Fred Eaton</h4>
          <p>Elder of Education, Discipleship and Missions</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="span3">
    <ul class="thumbnails">
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/200x160" alt="">
          <h4>Pat Sczebel</h4>
          <p>Elder of Creative Arts and Student Ministries</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="span3">
    <ul class="thumbnails">
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/200x160" alt="">
          <h4>Marty Jones</h4>
          <p>Head Deacon and Administrator</p>
        </a>
      </li>
    </ul>
  </div>
</div>

</div>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
