%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Connect", connect_path
  %li.active Sunday Gatherings


.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2 Sunday Gatherings
        
        %br
        
        %p At Crossway gospel priorities determine worship choices. That’s why each week much time is spent working on the Sunday liturgy. Telling the gospel from beginning to end during our Sunday gathering fuels the hearts of God’s people for our mission together.

        %p People’s choices to join a church are often preference based: ‘Do I like the music, the children’s ministry, the preacher?’; ‘Is he funny? Does he have the ability to keep me awake, etc.?’ If we build a church on preferences it will never fulfill God’s mission. His mission is to minister the gospel to one another when we gather and then represent it well when we scatter. Thus we require the entire gathering to tell the Gospel story – this has led to the very intentional way Crossway’s liturgy, or ‘order of service’, is crafted. 

        %p Every Sunday begins with a <strong>call to worship</strong> at 10:00 am sharp. Please be there. The gospel story begins with a call coming from our Great God. It’s God who invites us to come before him. He is the One initiating. He’s the One calling us to come and worship. 

        %p In response to his call, in response to who he is and what he has done we lift our voices in songs of <strong>adoration and exaltation</strong> because he has initiated and called us to himself. 

        %p And as we behold his greatness and majesty, holiness, we see ourselves for who we really are, sinners deserving of judgment and death, and so we take a moment to pause to <strong>confess our sins</strong> before our great and awesome God.

        %p As we confess our sins we remind one another that because of Jesus Christ and his work on our behalf we have full <strong>assurance of pardon</strong>, full assurance that our past sins, present and future sins are all paid for.

        %p This reminder overwhelms our hearts with <strong>thanksgiving and gratitude</strong>. Nothing can change our status before God. We are his forever! We respond in singing songs of thanksgiving and gratitude. We also respond with our <strong>giving</strong> of tithes and offerings. We’re saying as part of our worship, “Jesus, you are Lord of my life, Lord of everything, my time, my talents, and my treasure.”

        %p We then spend some time offering <strong>petitions and intercession</strong> before the Lord. Prayer is the key to all we do. Each week we have various people lift up various requests to the only one who is able to help us. 

        %p We then take a 5 minute break to dismiss our children to Children’s ministry and then return to hear <strong>God’s Word preached</strong>.

        %p Here at Crossway we value greatly the preaching of God’s Word. God’s Word is our rule for faith and practice. Week in and week out we walk through a book of the bible seeking to exegete the text and give practical application. 
 
        %p After the preaching of God’s Word we transition to <strong>the Lord’s Supper</strong>. Here at the Table, where Jesus is the host, we remember what he has once and for all accomplished on our behalf – and we meet with Him through this special means of grace. 

        %p We then take some time to respond to what we’ve heard in song, and have prayer teams available to pray for those in need. 

        %p Finally, we are sent out with a <strong>benediction</strong>. A benediction is pronounced by an elder as an expression of hope and encouragement to God’s people and a reminder that God who is rich in mercy goes with us as we go and will keep us till the end in his love. The benediction does not function to end our worship, but merely transitions us from worshiping in our ‘gathered’ state to worshipping in our ‘scattered’ state. 

        %p All of these components together – the call to worship; songs of exaltation and adoration; confession of sin; assurance of pardon; thanksgiving and giving; prayers and petitions; the preached Word of God; the Lord’s Supper; songs of gratitude; and the benediction – all work together to remind us of the good news of the Gospel from the beginning of our gatherings until the end. Our worship pleases God when we represent His Son through it. This is our hope for each and every Sunday gathering.
