<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Connect", connect_path %> <span class="divider">/</span></li>
  <li class="active">The City</li>
</ul>

<div class="row">
  <div class="span12 section-header">

      <div class="row">
        <div class="span7">
          <iframe width="540" height="304" src="http://www.youtube.com/embed/S2cp77Kp4uQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="span4">
          <h4 class="section-header-text">The City is an online tool to help members of our body connect with one another better, 
            build community and communicate effectively.</h4>
          <br />
          <p class="section-header-text">
            If you are a member or regular attender you will want to make sure you are on The City. To get connected please
            visit the Info Centre on a Sunday morning and someone will help you get signed up.
          </p>
        </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="span12" style="text-align: center;">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="span12">
    <div style="text-align: center;">
      <a class="btn btn-large" href="https://crosswaycc.onthecity.org/" target="_blank">Log in to The City >></a>
    </div>
    <div class="content">

      <h3>Questions & Answers</h3>

      <hr>
      <h4>How do I join The City?</h4>
      <p>
        In order to join The City you will need to be given an invitation from a current member. The quickest and easiest way to do
        this is to visit the Info Centre on a Sunday morning, and someone will be there to help you get signed up.
      </p>

      <br>
      <h4>Why does Crossway need The City?</h4>
      <p>
      As the Lord grows our church, the ability for our people to live in gospel-centered community becomes more difficult. The City gives us a place to find that community and also provides smaller platforms of communications to enhance it. Ultimately, The City enables us to better be the body of Christ.
      </p>

      <br>
      <h4>Is The City just another social network?</h4>
      <p>
      No. Popular social networks like Facebook and Twitter are geared toward individuals and their needs. The City is geared toward groups and the needs of the local church. Also, whereas most social networks create and replace community, The City merely supplements community that already exists.
      </p>

      <br>
      <h4>How will the church communicate via The City?</h4>
      <p>
      Our pastors and staff will communicate to our body on a church and group level, sharing ministry opportunities, prayer requests, event information, etc. Leaders will communicate to groups and volunteers. Group members will communicate with one another and their leader. There are endless ways for the church to communicate via The City.
      </p>

      <br>
      <h4>How do I use The City?</h4>
      <p>
      The easiest way to learn how to use The City is by simply spending time on it, browsing around and checking out all the features. There will also be video tutorials and ongoing tips available to help you better navigate your way around.
      </p>
    </div>
  </div>
</div>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
