<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Connect", connect_path %> <span class="divider">/</span></li>
  <li class="active">The City</li>
</ul>

<div class="row">
  <div class="span12 section-header">

      <div class="row">
        <div class="span7">
          <iframe width="540" height="304" src="http://www.youtube.com/embed/S2cp77Kp4uQ?list=UUMWBL6JthSX1lSOpWSnkvmg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="span4">
          <h4 class="section-header-text">The City is an online tool to help our body connect with one another better, build community and communicate effectively – from the church to you and you to the church.</h4>
          <br />
          <p class="section-header-text">

          </p>
        </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="span12" style="text-align: center;">

  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="content">

      <h2>Questions & Answers</h3>

      <h4>Why does Crossway need The City?</h4>
      <p>
      As the Lord grows our church, the ability for our people to live in gospel-centered community becomes more difficult. The City gives us a place to find that community and also provides smaller platforms of communications to enhance it. Ultimately, The City enables us to better be the body of Christ.
      </p>

      <h4>Is The City just another social network?</h4>
      <p>
      No. Popular social networks like Facebook and Twitter are geared toward individuals and their needs. The City is geared toward groups and the needs of the local church. Also, whereas most social networks create and replace community, The City merely supplements community that already exists.
      </p>

      <h4>How will the church communicate via The City?</h4>
      <p>
      Our pastors, ministers and staff will communicate to our body on a church, campus and group level, sharing ministry opportunities, prayer requests, event information, etc. Leaders will communicate to groups and volunteers. Group members will communicate with one another and their leader. There are endless ways for the church to communicate via The City.
      </p>

      <h4>How do I use The City?</h4>
      <p>
      The easiest way to learn how to use The City is by simply spending time on it, browsing around and checking out all the features. There will also be video tutorials and ongoing tips available to help you better navigate your way around.
      </p>
    </div>
  </div>
</div>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
