%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li Connect
  %li.active The City

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2 The City

        %p The City is our private online social network – a place to find out about our community life together. The City allows you to connect with groups and ministries you are involved in. It’s a safe place to share prayer requests and praise reports, and to coordinate practical helps such as meals and service. Once you have a City account, you decide what kind of content you would like to receive and how often. You can sign up for the City at the visitor information center.

        %hr 
        %div{style: "text-align: center;"}
          %a.btn.btn-large{href: "https://crosswaycc.onthecity.org/", target: "_blank"} Log in to The City >>

        %br
