%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li.active Visit

.jumbotron
  .row
    .col-md-6
      .video-container
        %iframe{allowfullscreen: "", frameborder: "0", height: "281", mozallowfullscreen: "", src: "https://player.vimeo.com/video/49493666?byline=0&portrait=0&title=0", webkitallowfullscreen: "", width: "500"}
    .col-md-6
      %p
        %strong Because of the Gospel, Crossway Church exists to make disciples who; love Jesus, love His people, and live to make Him known – all to the glory of God.

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-4.col-md-offset-2
        %h2 Join us on Sunday
        %hr

        %p
          %span{class: "glyphicon glyphicon-home"}
          %strong &nbsp;WHERE: 
          19533 64th Avenue, Surrey, B.C.
        %p
          %span{class: "glyphicon glyphicon-time"}
          %strong &nbsp;WHEN:
          10:00 AM 
        %hr
        %p
          %strong ADULT SUNDAY SCHOOL:
          8:45 AM
          %br
          %em
            Please note: Adult Sunday school class does not occur every week, if you want to
            attend please #{link_to "contact us", contact_path} for the latest schedule.
      .col-md-4
        %div{style: "text-align: center; padding-top: 30px"}
          = link_to image_tag("visit/google-map.png"), "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=19533+64+Ave+in+Surrey,+BC,+CAnada&aq=&sll=37.0625,-95.677068&sspn=55.937499,92.8125&ie=UTF8&hq=&hnear=19533+64+Ave,+Surrey,+British+Columbia+V3S+4J3,+Canada&ll=49.119096,-122.681317&spn=0.022863,0.045319&t=m&z=14", :target => "blank"

    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h2 WHAT TO EXPECT ON SUNDAYS

        %p Our Sunday gathering is when we come together as a whole church to worship Jesus and build community with one another. Our Sunday gatherings involve singing songs; engaging with the Bible through a sermon and readings; praying for our church, our city, and our world; and celebrating the Lord’s Supper, which is a special time when Christians remember the sacrifice of Jesus on the Cross.

    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        
        %h2 PRACTICAL INFORMATION

        %ul{class: "large"}
          %li Coffee and other beverages are provided at the visitor info center before and after the gathering. 
          %li There is no dress code at Crossway – most people dress casually. 
          %li Songs, readings, quotes, and Bible references are always available on the projector behind the band or preacher so that you can follow along.
          %li If you have a Bible, or Bible app, please bring it with you. If you do not own a Bible that’s not a problem, we would like to give you one as a gift at our visitor information center.
          %li The music can be loud. Decibel levels are always safe, but we do provide earplugs for those with sensitive hearing. 
          %li There is a carefully prepared gluten-free station for the Lord’s Supper at the middle serving station.
