<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">Visit</li>
</ul>

<div class="row">
  <div class="span12 section-header">

      <div class="row">
        <div class="span7">
          <iframe src="http://player.vimeo.com/video/49493666?byline=0&portrait=0&title=0" width="540" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="span4">
          <h4 class="section-header-text">Because of the gospel, Crossway Church exists to love Jesus, love His people and live to make Him known, all to the glory of God.</h4>
          <br />
          <p class="section-header-text">
            The gospel is the story of God reconciling and redeeming a broken creation and
            fallen creatures to Himself through the life, death, resurrection and future
            return of Jesus Christ. Our hope and desire is that the gospel would stand
            at the center of all that we do. It is what directs and defines us. It is our identity.
          </p>
        </div>
    </div>
  </div>

</div>

<div class="row">
    <div class="span12" style="height: 40px;"> </div>
</div>


<div class="row">
  <div class="span7">

    <div class="well">
      <h3>Service Times</h3>

      <div class="pull-right" style="padding-top: 24px;">
        <h4>Meeting Location</h4>
        <address>
          <strong>Christ for the Nations Bible College</strong><br>
          19533 64th Avenue<br>
          Surrey, B.C.
        </address>
        
        <h4>Phone</h4>
        <strong>604-510-6002</strong>
      </div>

      <hr>
      <h4>Sunday Class</h4><h5>8:45 AM <strong>*</strong></h5>
      <h4>Worship Service</h4><h5>10:00 AM</h5>

      <div class="clearfix"></div>
    </div>
    
    <p><strong>*</strong> <em>Sunday Class does not occur every week, if you are a visitor interested
      in attending this class please get in touch with us prior to coming for the latest schedule.</em>
  </div>
  <div class="span5">
    <div class="well">
    <%= link_to image_tag("visit/google-map.png"), "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=19533+64+Ave+in+Surrey,+BC,+CAnada&aq=&sll=37.0625,-95.677068&sspn=55.937499,92.8125&ie=UTF8&hq=&hnear=19533+64+Ave,+Surrey,+British+Columbia+V3S+4J3,+Canada&ll=49.119096,-122.681317&spn=0.022863,0.045319&t=m&z=14", :target => "blank" %>
    </div>
  </div>
</div>

</div>

<div class="row">
    <div class="span12" style="height: 40px;"> </div>
</div>
