$link-color: #4E4B4C;
$link-color-hover: #AB1013;

$jumbotron-bg: #fcfcfc;
$jumbotron-font-size: 200%;

$nav-link-padding: 10px 20px;

@import "bootstrap";
@import "bootstrap/theme";

@import url("//hello.myfonts.net/count/2b37f0");


@font-face {font-family: 'Gibson-LightIt';src: font-url('2B37F0_0_0.eot');src: font-url('2B37F0_0_0.eot?#iefix') format('embedded-opentype'),font-url('2B37F0_0_0.woff') format('woff'),font-url('2B37F0_0_0.ttf') format('truetype');}

@font-face {font-family: 'Gibson-BoldItalic';src: font-url('2B37F0_1_0.eot');src: font-url('2B37F0_1_0.eot?#iefix') format('embedded-opentype'),font-url('2B37F0_1_0.woff') format('woff'),font-url('2B37F0_1_0.ttf') format('truetype');}

@font-face {font-family: 'Gibson-SemiboldIt';src: font-url('2B37F0_2_0.eot');src: font-url('2B37F0_2_0.eot?#iefix') format('embedded-opentype'),font-url('2B37F0_2_0.woff') format('woff'),font-url('2B37F0_2_0.ttf') format('truetype');}

@font-face {font-family: 'Gibson-Bold';src: font-url('2B37F0_3_0.eot');src: font-url('2B37F0_3_0.eot?#iefix') format('embedded-opentype'),font-url('2B37F0_3_0.woff') format('woff'),font-url('2B37F0_3_0.ttf') format('truetype');}

@font-face {font-family: 'Gibson-Regular';src: font-url('2B37F0_4_0.eot');src: font-url('2B37F0_4_0.eot?#iefix') format('embedded-opentype'),font-url('2B37F0_4_0.woff') format('woff'),font-url('2B37F0_4_0.ttf') format('truetype');}

@font-face {font-family: 'Gibson-SemiBold';src: font-url('2B37F0_5_0.eot');src: font-url('2B37F0_5_0.eot?#iefix') format('embedded-opentype'),font-url('2B37F0_5_0.woff') format('woff'),font-url('2B37F0_5_0.ttf') format('truetype');}

@font-face {font-family: 'Gibson-Italic';src: font-url('2B37F0_6_0.eot');src: font-url('2B37F0_6_0.eot?#iefix') format('embedded-opentype'),font-url('2B37F0_6_0.woff') format('woff'),font-url('2B37F0_6_0.ttf') format('truetype');}

@font-face {font-family: 'Gibson-Light';src: font-url('2B37F0_7_0.eot');src: font-url('2B37F0_7_0.eot?#iefix') format('embedded-opentype'),font-url('2B37F0_7_0.woff') format('woff'),font-url('2B37F0_7_0.ttf') format('truetype');}


html {
  position: relative;
  min-height: 100%;
}

body {
  background-image:image-url('page-background.png');
  background-repeat:repeat;
  padding-top: 0;

  padding-top: 52px;
  margin-bottom: 71px;
  font-family: "Gibson-Regular", Georgia, "Times New Roman", Times, serif;
  color: #555;
}


/* NAVBAR */

.navbar .crossway-brand {
  color: #000000;
  font-size: 30px;
  display: block;
  float: left;
  padding: 5px 5px 0px;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .mini-logo {
  height: 40px;
  width: 142px;
  margin-top: -5px;
}

.banner-image {
  width: 100%;
}


.navbar ul li {
  font-family: 'Gibson-Regular';
  text-transform: uppercase;
}

.main-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, h2, h3 {
  font-family: 'Gibson-SemiBold';
  text-transform: uppercase;
}

strong {
  font-family: 'Gibson-SemiBold';
}

p {
  font-size: 120%;
  line-height: 160%;
  margin-top: 10px;
  margin-bottom: 24px;
}

ul.large li {
  font-size: 120%;
  line-height: 140%;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.breadcrumb li {
  text-transform: uppercase;
}

.img-thumbnail {
  margin: 3px;
}

.aside {
  margin: 0;
  border-top: 1px #cccccc solid;
  border-right: 1px #eeeeee solid;
  border-left: 1px #eeeeee solid;
  padding: 14px;
  background: image-url('aside_bg_fade.jpg') repeat;
  width: 192px;
}


.aside-sermons {
  margin: 0;
  border-top: 1px #cccccc solid;
  border-right: 1px #eeeeee solid;
  border-left: 1px #eeeeee solid;
  padding: 14px;
  background: image-url('aside_bg_fade.jpg') repeat;
  width: 250px;

}


.jumbotron {
  border: 1px #cccccc solid;
  //background-color:rgba(255, 255, 255, 0.9);
}



/* Ministries Page */

.ministries-head ul {
	position: relative;
	top: 10px;
}

.ministries-head h5 {
	display: table;
	float: left;
	font-size: 30px;
	margin: 0;
	padding-bottom: 10px;
}

.ministries-grid {
	margin-bottom: 20px;
}

.ministries-grid h4 {
	text-align: center;
	margin: 16px 0;
}

.ministries-grid h4 a {
	color: #1a1a1a;
	font-size: 18px;
}

.ministries-list {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #cbc6ac;
}

.ministries-list h4 {
	font-size: 24px;
	margin: 10px 0 20px;
}

.ministries-list h4 a {
	color: #1a1a1a;
}

.ministries-list p {
	font-size: 16px;
	color: #676666;
	line-height: 24px;
}

.ministries-list .hb-social {
	padding: 0;
	display: table;
	float: right;
	margin-top: 15px;
}

.ministries-list.lasts {
	border-bottom: none;
	padding-bottom: 0;
}

.ministries-single h4 {
	font-size: 33px;
	margin: 30px 0 40px;
	text-transform: uppercase;
}

.ministries-single .hb-social {
	padding: 0;
	display: table;
	float: right;
	margin-top: 35px;
}

.ministry-location {
	margin-bottom: 50px;
	display: table;
	width: 100%;
}

.ministry-location h5 {
	font-size: 18px;
	margin: 40px 0 15px;
	text-align: center;
}

.ministry-location p {
	text-align: center;
}

.ministry-timings h5 {
	margin: 0 0 3px;
	font-size: 15px;
	color: #676666;
}

.ministry-timings p {
	margin: 0;
	font-size: 15px;
	color: #676666;
}


/*--------------------------------------------------------------------------
+	Portfolio Style
--------------------------------------------------------------------------*/
.portfolio-item {
  position: relative;
  background: #FFF;
  margin-bottom: 20px;
  /*border: 8px solid #FFF;*/
  border: 4px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.portfolio-item-no-border {
  position: relative;
  background: #FFF;
  margin-bottom: 20px;
  border: 0px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 0px #fff,0 0 0px #c8cfe6;
  -moz-box-shadow: inset 0 0px #fff,0 0 0px #c8cfe6;
  box-shadow: inset 0 0px #fff,0 0 0px #c8cfe6;
  color: inset 0 1px #fff,0 0 0px #c8cfe6;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.portfolio-item .portfolio-image {
  overflow: hidden;
  text-align: center;
  position: relative;
}
.portfolio-item .portfolio-image img {
  max-width: 100%;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}
.portfolio-item:hover {
  /*border: 8px solid #4f8db3;*/
  border: 4px solid #4f8db3;
}
.portfolio-item:hover .portfolio-image img {
  position: relative;
  -webkit-transform: scale(1.1); // rotate(2deg);
  -moz-transform: scale(1.1);// rotate(2deg);
  -o-transform: scale(1.1);// rotate(2deg);
  -ms-transform: scale(1.1);// rotate(2deg);
  transform: scale(1.1);// rotate(2deg);
}
.portfolio-item ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 20px;
  text-align: center;
  padding: 0;
}
.portfolio-item ul li {
  line-height: 28px;
}
.portfolio-item .portfolio-project-name {
  font-size: 1.3em;
  text-transform: uppercase;
}
.portfolio-item .read-more {
  text-align: center;
  padding-top: 10px;
}
.portfolio-item .portfolio-info-fade {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  color: #FFF;
  text-shadow: 2px 2px 4px #000000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.portfolio-item .portfolio-info-fade ul {
  margin-top: 10%;
}
.portfolio-item .portfolio-info-fade .btn:hover {
  background: #4f8db3;
}
.portfolio-item .portfolio-info-fade ul {
  margin: 10% 20px 0 20px;
  padding: 0;
}
.portfolio-item .portfolio-info-fade ul li {
  text-align: center;
}
.portfolio-item .portfolio-info-fade ul li:first-child {
  border-bottom: 1px solid #CCC;
}
.portfolio-item:hover .portfolio-info-fade {
  display: block;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.lt-ie9 .portfolio-info-fade {
  display: none;
}
.lt-ie9 .portfolio-item:hover .portfolio-info-fade {
  display: block;
}
.portfolio-visit-btn {
  padding-top: 15px;
}
.portfolio-item-description ul {
  padding: 0;
}



/*--------------------------------------------------------------------------
+	Buttons Style
--------------------------------------------------------------------------*/
.btn {
  border: 1px solid #4f8db3;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  text-align: center;
  background: none repeat scroll 0 0 #4f8db3;
  text-shadow: none;
  box-shadow: none;
  color: #FFF;
  white-space: nowrap;
}
.btn:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn .caret {
  border-top: 4px solid #FFF;
}
.btn-micro {
  padding: 1px 8px;
  font-size: 10px;
}
.btn-grey {
  border: 1px solid #cecece;
  color: #333;
  background: none repeat scroll 0 0 #E7E7E7;
}
.btn-grey:hover {
  background: none repeat scroll 0 0 #cecece;
  color: #333;
  text-decoration: none;
  border: 1px solid #cecece;
}
.btn-grey .caret {
  border-top: 4px solid #333;
}
.btn-blue {
  border: 1px solid #3e7191;
  color: #FFF;
  background: none repeat scroll 0 0 #4F8DB3;
}
.btn-blue:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-orange {
  border: 1px solid #cc5a00;
  color: #FFF;
  background: none repeat scroll 0 0 #FF7000;
}
.btn-orange:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-green {
  border: 1px solid #4c5818;
  color: #FFF;
  background: none repeat scroll 0 0 #6E8023;
}
.btn-green:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-red {
  border: 1px solid #ab0d0d;
  color: #FFF;
  background: none repeat scroll 0 0 #DA1111;
}
.btn-red:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-group.open .btn.dropdown-toggle {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
}
.dropdown.open a.dropdown-toggle .caret {
  border-top: 4px solid #FFF;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}


/*--------------------------------------------------------------------------
+	Services Style
--------------------------------------------------------------------------*/
/* Multicolumn */
.service-wrapper-simple {
  background: #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  color: 0 0 3px #999;
}
.service-wrapper {
  background: #FFF;
  margin: 20px 10px;
  text-align: center;
  padding: 30px 20px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  color: 0 0 3px #999;
}

.service-wrapper h3 {
  font-size: 1.2em;
  margin: 10px 0 !important;
}
.service-wrapper p {
  margin-top: 0;
}
/* Row */
.service-wrapper-row {
  padding: 10px 0;
}
.service-wrapper-row h3 {
  padding-top: 5px;
}
.service-wrapper-row .service-image {
  padding-top: 15px;
  text-align: center;
}
.service-wrapper-row .service-image img {
  max-width: 80%;
  vertical-align: bottom;
  bottom: 0;
  border: 7px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 8px #999;
  -moz-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  color: 0 0 8px #999;
}

.service-wrapper-plain {
  background: #FFF;
  margin: 10px 0px;
  text-align: center;
  padding: 20px 20px;
  color: 0 0 3px #999;
}

.service-wrapper-plain h3 {
  font-size: 1.2em;
  margin: 10px 0 !important;
}

/*--------------------------------------------------------------------------
+	Breadcrumbs Section Style
--------------------------------------------------------------------------*/
.section-breadcrumbs {
  background: #222;
  background: rgba(34, 34, 34, 0.8);
  margin-bottom: 10px;
}
.section-breadcrumbs h1 {
  color: #FAFAFA;
  font-size: 1.6em;
  margin-bottom: 0;
  text-transform: none;
}

/*--------------------------------------------------------------------------
+	Our Team Style
--------------------------------------------------------------------------*/
.team-member {
  position: relative;
  background: #FFF;
  margin-bottom: 20px;
  border: 8px solid #FFF;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
}
.team-member img {
  max-width: 100%;
}
.team-member ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 20px;
}
.team-member ul li {
  line-height: 28px;
}
.team-member:hover .team-member-image {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.team-member .team-member-image {
  text-align: center;
  position: relative;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
  -webkit-opacity: 0.85;
  -moz-opacity: 0.85;
  opacity: 0.85;
}
.team-member .team-member-name {
  font-size: 1.3em;
  text-transform: uppercase;
}
.team-member .team-member-social {
  position: absolute;
  right: 0;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.team-member .team-member-social .team-member-social i {
  margin-top: 3px;
}
.team-member .team-member-social:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

/*--------------------------------------------------------------------------
+	Events List Style
--------------------------------------------------------------------------*/
.events-list {
  width: 100%;
  font-size: 0.9em;
}
.events-list tr td {
  padding: 5px 20px 5px 0;
}
.events-list tr td:last-child {
  padding: 5px 0;
  text-align: right;
}
.events-list tr:hover .event-date {
  border-left: 5px solid #4f8db3;
}
.events-list .event-date {
  margin: 3px 0;
  padding: 2px 10px;
  border-left: 5px solid #CFCFCF;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}
.events-list .event-date .event-day {
  color: #808080;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}
.events-list .event-date .event-month {
  color: #CFCFCF;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
}
.events-list .event-date .event-venue,
.events-list .event-date .event-price {
  white-space: nowrap;
}