<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">Give</li>
</ul>

<div class="row">
  <div class="span12">
    <div class="well">

      <h2>Thank you for your donation of <strong>$<%= @amount %>.00</strong>!</h2>
    </div>
  </div>
</div>